
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CTF Zone </title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="main_page">
      <div class="content_section floating_element">
        <div class="section_header">
		<h1>Welcome to CTF zone!</h1>
    <!-- Hacking-Lab Logo -->
    <img src="https://auth.ost-dc.hacking-lab.com/auth/resources/998e9/login/hacking-lab/img/logo.svg" alt="Hacking-Lab Logo" width="400" height="200" />
    
		<div id="changes"></div><br>
    <br>
    <h3>Files to download!</h3>
    <!-- supporting files -->
    <a href="support.tar">👉Executable & Supporting Files - Libsec / Musl👈 </a><br><br>
        </div>
      </div>
    </div>
  </body>
</html>